@page
@model mondadoro_db.Pages.FinanzeModel
@{

    double balance;
    StreamReader sr = new StreamReader("./Pages/Shared/balance.txt");
    balance = Convert.ToDouble(sr.ReadLine());
    sr.Close();
}

<h1>Area Finanze</h1>
<h5>In questa pagina e' possibile vedere una stima del bilancio corrente in base alle vendite effettuate recentemente.</h5>

<hr />

<div class="text-center">
    <div class="row mt-5 pt-5 storage-page">
        <div class="col-6">
            <h3 class="mt-5 fw-400">Il bilancio corrente <strong>stimato</strong> ammonta a: <strong>@balance €</strong></h3><br />
        </div>
    </div>
</div>