@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Mondadoro's intellectual property 2022.</p>
<p>La riproduzione di questo contenuto e' severamente vietata.</p>
