@page
@model mondadoro_db.Pages.Items.BuyModel
@{
    ViewData["Title"] = "Buy";
}

<h1>Acquista un Prodotto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.ID"/>
            <div class="form-group">
                Quantita' da acquistare:
                @{
                    int buyQnty = 0;
                    <input name="buyQnty" type="number" min="0" class="form-control" />
                    <span asp-validation-for="@buyQnty" class="text-danger"></span>
                }
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Compra" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Torna Indietro</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
