@page
@model mondadoro_db.Pages.Items.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Rimuovi</h1>

<h3>Sei sicuro di voler rimuovere questo prodotto?</h3>
<div>
    <hr />
    
    
    <form method="post">
        <input type="hidden" asp-for="Item.ID" />
        <input type="submit" value="Rimuovi" class="btn btn-danger" /> |
        <a asp-page="./Index">Torna Indietro</a>
    </form>
</div>
