@page
@model mondadoro_db.Pages.Items.QntyErrorModel
@{
    ViewData["Title"] = "Errore nella vendita";
}
<div>
    <h1 class="fw-bold">Si e' verificato un errore</h1>
    <hr />
    <h3>La quantita' disponibile del prodotto desiderato e' insufficiente per effettuare questa vendita</h3>
    <hr />
    <h4><a asp-page="./Index">Torna alla lista dei prodotti</a></h4>
</div>