@page
@model IndexModel
@{
    ViewData["Title"] = "Finanze";
}

<div class="text-center">
    <h1 class="display-3 mt-5 fw-400">Area Finanze</h1>
    <div class="row mt-5 pt-5 storage-page">
        <div class="col-6">
            <h5 class="display-5 mt-5 fw-400">Il bilancio ammonta a:</h5><br />
            <h5 class="display-3 fw-400"><strong>100,000,000.00€</strong></h5>
        </div>
        <div class="col-6">
            <h5 class="display-3 fw-400"><strong>grafico grafico grafico grafico grafico grafico grafico grafico grafico grafico grafico grafico grafico grafico </strong></h5>
        </div>
    </div>
</div>