@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3 mt-5 fw-400">Benvenuto</h1>
    <div class="row mt-5 pt-5">
        <div class="col-4">
            <a class="btn btn-dark btn-lg" asp-area="" asp-page="/magazzino">Magazzino</a>
        </div>
        <div class="col-4">
            <a class="btn btn-dark btn-lg" asp-area="" asp-page="/personale">Personale</a>
        </div>
        <div class="col-4">
            <a class="btn btn-dark btn-lg" asp-area="" asp-page="/finanze">Finanze</a>
        </div>
    </div>
</div>
