@page
@model IndexModel
@{
    ViewData["Title"] = "Personale";
}

<div class="text-center">
    <h1 class="display-3 mt-5 fw-400">Area Personale</h1>
    <div class="row mt-5 pt-5">
        
    </div>
</div>
